
.opcoes{
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    margin: 30px 0px;
}
.help-expenses{
    width: 40%;
    padding: 15px 2%;
    background-color: #F3FFFD;
    display: flex;
    justify-content: flex-start;
    border: 3px solid #09F0C7;
    border-radius: 20px;
}
.help-expenses p{
    
    font-family: Squada One;
    font-size: 20px;
    color: #368B90;
    word-wrap: break-word;
}

.opcoes form{
    height: 40px;
    margin-top: auto;
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.details-expenses{
    font-family: Squada One;
    font-size: 35px;
    color: rgb(63, 56, 56);
    margin: 40px auto;
    padding-top: 0%;
}

.input-form-my{
    background-color: white;
    border: 2px solid #BCB3B3;
    color: #BCB3B3;
    font-family: Squada One;
    font-size: 22px;
    padding-left: 2%;
    float: right;
    margin-right: 3%;

}
.btn-form-my{
    float: right;
    background-color: #00C2FF;
    border: 2px solid #009DCE;
    color: white;
    font-family: Squada One;
    font-size: 22px;
}

.tabela{
    width: 100%;
    margin-top: 20px;
}

.tbl-btn1{
    background-color: #ECE1E1;
    border: 1px solid #B4A9A9;
    border-radius: 5px;
    color: #544444;
    font-family: Squada One;
    font-size: 17px;
    width: 30%;

}
.tbl-btn2{
    width: 30%;
    background-color: #EB4242;
    border: 1px solid #EF2A2A;
    border-radius: 5px;
    color: white;
    font-family: Squada One;
    font-size: 17px;
}

.spend-graphic{
    width: 100%;
    height: auto;
    /* background-color: #EB4242; */
    margin: 100px auto;

}

.spend-graphic div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5% auto;
    height: 100%;
    /*background-color: #00C2FF;*/
}

.title-detais{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-my-despesas{
    width: 20%;
    background-color: #3CDD39;
    border: 2px solid #3FAC3D;
    color: white;
    font-family: Squada One;
    font-size: 22px;
}
#myChart{
    max-height: 100%;
}
.form-group-flex-my{
    display: flex;
    justify-content: space-between;
}

.form-group-flex-my div{
    width: 45%;
}