.notification{
    width: 100%;
    padding: 0% 2%;
    font-size: medium;
    font-family: Squada One;
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}
.notification h1{
    font-size: x-large;
    color: rgb(216, 20, 20);

}
.notification p{
    font-size: x-large;
    color: rgb(26, 24, 24);
}

.cards{
    flex: 1 0 auto;
}

.modal-header{
    background-color: #00D1ED;
}

.title-modal{
    font-size: x-large;
    font-family: Squada One;
}
.ionicon{
    
}