.titlePageContent{
    padding: 30px 0px;
}
*{
    font-family: Squada One;
    color:#342929;
}
.tableGraphicContent{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px auto;
    height: auto;
}
.tableContent{
    margin-top: 40px;
}
.graphicContent h1{
    font-size: 18px;
    margin: 0px 0px;
    padding: 0px;
}
.cardsContent{
    width: 45%;
    height: 100%;
    text-align: center;
}
.grafico canvas{
    width: 100%;
    height: 100%;
}
.line{
    width: 100%;
    border: 1px solid #342929;
    margin: 50px auto;
}

.dicas{
    padding: 50px 50px;
    font-size: 25px;
    word-wrap: break-word;
    background-color: #F8F8F8;
    line-height: .7in;
    box-shadow: 1px 1px 5px #342929;
    margin: 50px auto;
}
.create{
    margin: 50px auto;
}
.flex{
    display: flex;
    justify-content: space-between;

}

.form-event{
    width: 100%;
    
}


.formEvent{
    display: flex;
    flex-direction: column;
}
.organize{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.form-group{
    display: flex;
    flex-direction: column;
    flex: 0 1 30%;
    
}

.form-group .input{
    height: 35px;
    width: 200px;
}

.form-group input:focus{
    outline: none;
}
.div-btn-event{
    display: flex;
    align-items: flex-end;
    padding: 1% 2%;
    margin-left: 1%;
}
.div-btn-event button{
    border: 1px solid #00d1edc2;
    background-color: #00D1ED;
    width: 100px;
    font-size: x-large;
    color: whitesmoke;
    height: 60px;
    border-radius: 10px;
}